{% extends "blog/base.html" %}
{%block content%}
{% if user.is_authenticated %}
<div class="media content-section">
    <h1 class="article-title">About this app</h1>
    <h3>Overview</h3>
    <hr>
    <p>This application was developed by <a href="https://www.patrickdavis.co.uk">Patrick Davis</a>.
    <div>
        <h4>Further info</h4>
        <hr>
        <small>Using Python 3.7.x and Django 2.x</small>
    </div>
    <div>
        <small>Version 1.0</small>
    </div>
    <div><small>Copyright - <a href="https://www.patrickdavis.co.uk">Patrick Jonathan Davis</a> {{ now.year }}</small>
    </div>
</div>
{%endif%}
{%endblock content%}