{% extends "blog/base.html" %} {%block content%}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Home</h1>
        <p class="lead">Have a read.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <ul style="list-style: none;">
            {% for post in posts %}
            <li>
                <h1>{{ post.title }}</h1>
            </li>
            <li>
                <p>{{ post.content }}</p>
            </li>
            <li> <small>{{ post.date_posted }}</small></li>
            <hr> {% endfor %}
        </ul>

    </div>
</div>
{% endblock content %}